body{
    background-color: rgb(58, 53, 53);
}
#calculator{
    margin: auto;
    width: 300px;
    border: 2px solid;
    background-color: black;   
}
#display{
    background-color: orange;
    height:100px;
    width: auto;
    margin: 3px;
    text-align: end;
    font-size: 80px;
}
.display-value{
    text-align: end;
    padding: 5px;
}
#numbers{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
    background-color: gray;
}
#numbers input{
    border-radius: 5%;
    font-size: 18px;
}
#zero{
    grid-column: 1/3;
}
.pressed{
    font-weight: 900;
}
.operator, #equal{
    background-color: rgb(245, 130, 16);
}
.clear, .delete, .percent{
background-color: rgb(197, 179, 179);
}
.is-pressed{
    background-color: #9c0000;
}